{
  "agent": {
    "metrics_collection_interval": 60,
    "logfile": "/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log",
    "region": "eu-central-1",
    "debug": false
  },
{% if aws_cwa_logfiles|length > 0 %}
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
{% for logfile in aws_cwa_logfiles %}
          {
            "file_path": "{{ logfile.file_path }}",
            "log_group_name": "{{ logfile.log_group_name }}",
            "log_stream_name": "{{ logfile.log_stream_name }}",
            "timezone": "{{ logfile.timezone }}",
            "timestamp_format": "{{ logfile.timestamp_format }}",
            "encoding": "{{ logfile.encoding }}"
          }{%if not loop.last %},{% endif %}
{% endfor %}
        ]
      }
    }
  },
{% endif %}
  "metrics": {{ aws_cwa_metrics | to_nice_json }}
}
